@import url('https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: 'Exo 2', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/600x1600.png);
  background-position-y: bottom;
  background-position-x: center;
  height: 100vh;
  background-color: #fefbf5;
  position: relative;
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.block_main {
  margin-top: 90px;
}

.block_menu {
  width: 80%;
}

.ul_menu_main {
  list-style-type: none;
}

.menu_item {
  padding: 10px;
  background: #528c1c;
  color: white;
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.ul_type_food {
  padding-left: 10px;
  list-style-type: none;
}

.ul_type_food li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #355d06;
  border-bottom: 1px solid white;
  align-items: center;
  color: white;
}

.flex_container button {
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #16683f;
  background: #fefbf5;
}

.flex_container button:hover {
  transition: .5s;
  background: #fefbf5;
}

.header_logo {
  height: 67px;
  position: absolute;
  width: 100%;
}

.fio_block {
  background-color: #fefbf5;
  margin-top: 80px;
  padding: 12px;
  border-radius: 7px;
  width: 80%;
  box-shadow: 0 0 7px 0px #421616;
}

.container_all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo {
  width: 100%;
  background-image: url(../images/logo_png_160px.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 34%;
  background-position: center;
}

.hidden {
  display: none !important;
}

.block_log_in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block_log_in input[type='text'], input[type='password'] {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #054924;
}

.fio_block p {
  font-weight: 700;
  font-size: 15px;
}

.fio_block p>span {
  font-weight: normal;
  font-size: 13px;
}

.fio_block h6 {
  text-align: center;
  font-size: 15px;
  color: #f05928;
  margin-bottom: 4px;
}

.children_block {
  background-color: #fefbf5;
  margin-top: 20px;
  padding: 12px;
  border-radius: 7px;
  width: 80%;
  box-shadow: 0 0 7px 0px #421616;
}

.children_block h6 {
  text-align: center;
  font-size: 15px;
  color: #f05928;
  margin-bottom: 4px;
}

.child_list {
  list-style-type: none;
}

.child_list li {
  padding: 5px;
  box-shadow: 0 0 1px 0 #f05928;
  background: #fff;
  margin: 5px auto;
  font-size: 13px;
}

.child_list a {
  text-decoration: none;
  color: black;
}

.balance_block {
  background-color: #fefbf5;
  margin-top: 20px;
  padding: 12px;
  border-radius: 7px;
  width: 80%;
  box-shadow: 0 0 7px 0px #421616;
}

.balance_block h6 {
  text-align: center;
  font-size: 15px;
  color: #f05928;
  margin-bottom: 4px;
}

.balance_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.balance_one {
  border-radius: 55px;
  width: 85px;
  height: 85px;
  border: 5px solid #4d90fe;
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: center;
}

.balance_all {
  border-radius: 55px;
  width: 85px;
  height: 85px;
  border: 5px solid #4d90fe;
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: center;
}

.balance_description {
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 5px;
  width: 50%;
  text-align: center;
}

.block_pay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.block_pay button {
  width: 100%;
  border: 0;
  padding: 15px;
  background: #4d90fe;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

/*--------------------------------------*/

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 30px;
}

.header h4 {
  font-weight: 500;
}

.block_logo {
  margin-top: 50px;
}

.result_pay {
  text-align: center;
  margin-top: 15px;
}

.logo {
  margin: 0 auto;
  height: 90px;
  width: 190px;
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.auth_form input[type='text'], .auth_form input[type='number'], .auth_form input[type='password'] {
  padding: 15px 5px;
  border-radius: 5px;
  width: 80%;
  margin: 5px auto;
  border: 1px solid #80808070;
}

.auth_form {
  margin-top: 95px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth_form button {
  width: 100%;
  padding: 15px 5px;
  background: #528c1c;
  border-radius: 28px;
  border: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.auth_form p {
  margin-top: 15px;
  flex: 0 0 auto;
  margin-bottom: 10px;
}

.block_buttons {
  height: 55vh;
}

.block_pass {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_pass a {
  font-size: 13px;
}

.auth_form p {
  font-size: 13px;
}

a {
  color: black;
}

.auth_form button:focus {
  outline: 0;
  border: 0;
}

.auth_form input[type="text"]:focus {
  outline: 0;
  border: 1px solid #528c1c;
}

.main_block {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.header_account {
  flex: 0 0 20%;
  background: #528c1c;
}

.body_acoount {
  flex: 1 0 auto;
}

.balace_account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
}

.cash_icon i {
  font-size: 35px;
  color: white;
}

.balance {
  text-align: left;
  color: white;
}

.ls {
  margin-top: 35px;
  flex: 0 0 10%;
  text-align: left;
  font-size: 16px;
  color: white;
  FONT-WEIGHT: 400;
}

.flex_header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.balance p {
  font-size: 11px;
  color: #e6e6e6;
}

#balance {
  font-weight: 700;
  font-size: 24px;
}

.body_acoount {
  background: url(../images/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_account {
  width: 150px;
  height: 120px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.account_buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.account_buttons a {
  background: #fff;
  margin-top: 10px;
}

.button_account i {
  font-size: 35px;
}

.button_account p {
  width: 80%;
  line-height: 18.5px;
}

.cash_icon {
  height: 35px;
  width: 55px;
}

.cash_icon img {
  width: 100%;
}

#auth_but {
  width: 100%;
  padding: 15px 5px;
  background: #528c1c;
  border-radius: 28px;
  border: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
  transition: .5s;
}

#auth_but:focus {
  outline: 0;
  border: 0;
}

#log_in_result {
  font-size: 12px;
}

.valid_input {
  border: 1px solid red !important;
}

.balance_rub i {
  font-size: 20px;
  padding-left: 4px;
}

.reg_form input[type="text"], .reg_form input[type="password"] {
  padding: 15px 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 11px;
  margin: 5px auto;
  border: 1px solid #80808070;
}

.reg_form {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.reg_form input[type='submit'] {
  width: 100%;
  padding: 15px 5px;
  background: #528c1c;
  border-radius: 28px;
  border: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
  transition: .5s;
}

.reg_form input[type='submit']:focus {
  border: 0;
  outline: 0;
}

#reg_log_result {
  font-size: 12px;
  padding: 10px 5px;
  background: #fff;
}

.reset_pass_form input[type='submit'] {
  width: 100%;
  padding: 15px 5px;
  background: #528c1c;
  border-radius: 28px;
  border: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
  transition: .5s;
}

.reset_pass_form input[type='submit']:focus {
  border: 0;
  outline: 0;
}

.reset_pass_form input[type="text"], .reset_pass_form input[type="password"] {
  padding: 15px 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 11px;
  margin: 5px auto;
  border: 1px solid #80808070;
}

.reset_pass_form {
  margin-top: 35px;
  width: 100%;
  margin: 0 auto;
}

#reset_log_result {
  font-size: 11px;
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

#but_res_pass, #but_registry {
  text-decoration: underline;
}

.reset_block {
  width: 80%;
}

#back_to_auth, #back_to_auth2, #back_to_account, #back_to_account2, #back_to_account3 {
  color: white;
}

.history_list {
  list-style-type: none;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.history_list li {
  text-align: left;
  margin: 8px 0;
  padding: 5px;
  border-bottom: 2px solid #528c1c;
}

#loadMore {
  width: 100%;
  padding: 5px;
  color: white;
  background: #528c1c;
  text-transform: uppercase;
  border: 0;
}

.block_history {
  margin-top: 10px;
  width: 80%;
  background: #fff;
}

#load {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999 !important;
  right: 0;
  bottom: 0;
  background: #fff;
}

#load:before {
  position: absolute;
  content: '';
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  top: 40%;
  margin: auto;
  left: 15px;
  right: 0;
  bottom: 0;
}

.childrens li {
  padding: 10px;
  background: #fff;
}

.child_active {
  background: #528c1c !important;
  color: #fff;
}

.h5_child {
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 10px 0px;
  flex: 100%;
}

.childrens {
  margin-top: 10px;
  border-top: 1px solid #d2d2d2;
}

.child_balance {
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  border-bottom: 1px solid #528c1c;
  width: 80%;
  font-size: 13px;
  margin: 10px auto;
}

.child_balance p {
  padding: 5px 0;
}

.child_balance span {
  font-weight: 700;
}

.child_info span {
  font-weight: 700;
}

.child_info {
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 13px;
  border-bottom: 1px solid #528c1c;
  width: 80%;
  margin: 10px auto;
}

.child_info p {
  padding: 5px 0;
}

.child_check {
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  border-bottom: 1px solid #528c1c;
  width: 80%;
  margin: 10px auto;
  font-size: 13px;
}

.child_check_group {
  margin: 5px 0;
}

#back {
  color: white;
}

#credit_price_block {
  display: none;
}

#credit_price {
  width: 80px;
  padding: 5px;
  border: 1px solid #528c1c;
  border-radius: 5px;
}

.add_reb {
  width: 100%;
  padding: 5px;
  color: white;
  border: 0;
  margin-top: 5px;
  background: #528c1c;
}

#back_to_childrens {
  color: #fff;
}

#back_to_childrens_2 {
  color: #fff;
}

.form_add_reb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.form_add_reb input[type='text'] {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #054924;
  outline: none;
  border-radius: 5px;
}

#add_reb_but {
  width: 100%;
  padding: 15px 5px;
  background: #528c1c;
  border-radius: 28px;
  border: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
}

#add_reb_result {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.form_group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #417505;
  border-radius: 5px;
}

.form_group {
  margin: 10px 0;
}

.cash_block {
  width: 80%;
}

.form_group label {
  font-size: 13px;
  padding: 5px;
  color: #a2a2a2;
}

.form_group select:focus {
  outline: none;
}

.cash_flow_but {
  width: 100%;
  padding: 15px 5px;
  background: #528c1c;
  border-radius: 28px;
  border: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
  transition: .5s;
}

.cash_flow_but:focus {
  outline: none;
}

.cash_flow_but:active {
  opacity: 0.5;
  transition: .5s;
}

.result_cash_flow {
  padding: 15px;
  font-size: 13px;
}

#count_cash_flow {
  padding: 5px;
  border: 1px solid #417505;
  border-radius: 5px;
}

#count_cash_flow:focus {
  outline: none;
}

#auth_but:focus {
  outline: none;
}

#auth_but:active {
  transition: .5s;
  opacity: 0.5;
}

.reset_pass_form input[type='submit']:active {
  transition: .5s;
  opacity: 0.5;
}

.reg_form input[type='submit']:active {
  transition: .5s;
  opacity: 0.5;
}

#pay_link:active {
  outline: none;
  opacity: 0.5;
  transition: .5s;
}

#history_link:active {
  outline: none;
  opacity: 0.5;
  transition: .5s;
}

#but_children:active {
  outline: none;
  opacity: 0.5;
  transition: .5s;
}

#add_reb_but:active {
  outline: none;
  opacity: 0.5;
  transition: .5s;
}

#add_reb_but:focus {
  outline: none;
}

#credit_price:focus {
  outline: none;
}

.back_to_auth {
  color: white;
}

.menu_item_food {
  background: #fff;
  margin-left: 5px;
  padding: 5px;
  border-bottom: 1px solid;
  font-size: 13px;
}

.hidden_menu_type {
  border: 1px solid;
}

.menu_item_food:last-child {
  border-bottom: 0;
}